    <div class="container">
    <div class="box">
        <h1 class="display-4">Payment Successful! <span class="badge bg-success">Success</span></h1>
        <p class="lead">Your payment has been processed successfully.</p>
        <!-- Add any additional content or display relevant payment information here -->
    </div>
    </div>
